/*初始化公共样式*/


/**{*/


/*margin:0;*/


/*padding:0;*/


/*}*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
pre,
samp {
	font-family: couriernew, courier, monospace;
}

small {
	font-size: 12px;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}


/*a:hover {*/


/*text-decoration:underline;*/


/*}*/

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,
img {
	border: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'iconfont';
	src: url('../iconfont/iconfont.eot');
	/* IE9*/
	src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../iconfont/iconfont.svg#uxiconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}


/*网页开始*/

#header {
	width: 100%;
}

#header .header-ad {
	width: 100%;
	height: 81px;
	color: #fff;
	background: #969696;
	position: relative;
	background: url(../img/top_ad.png) no-repeat;
	background-size: cover;
	position: relative;
}

.header-ad .header-del {
	width: 15px;
	height: 15px;
	background: #969696;
	display: block;
	text-align: center;
	line-height: 15px;
	position: absolute;
	right: 116px;
	top: 6px;
	cursor: pointer;
}

#header .headerNavBox {
	width: 100%;
	height: 33px;
	background: #f7f7f7;
}

#header .header-nav {
	width: 1200px;
	height: 33px;
	border-bottom: 1px solid #eeeeee;
	background: #f7f7f7;
	line-height: 33px;
	position: relative;
	margin: 0 auto;
}

#header .header-nav .header-navl {
	width: 230px;
	height: 33px;
	position: relative;
	float: left;
}

.header-navl .p1 {
	font-size: 12px;
	color: #969696;
}

#header .header-navl-inner {
	font-size: 12px;
	color: #000;
	display: inline-block;
	width: 50px;
	height: 20px;
	border: 1px solid #969696;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}

#header .citylist {
	position: absolute;
	left: 168px;
	top: 28px;
	width: 320px;
	height: 320px;
	border: 1px solid #dadada;
	z-index: 10;
	font-size: 12px;
	line-height: 20px;
	background: #fff;
	padding: 10px;
	display: none;
}

.cityDel {
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	color: #dadada;
	border: 1px solid #dadada;
}

.citylist p {
	line-height: 28px;
	text-indent: 8px;
}

.citylist p:nth-of-type(1) {
	line-height: 28px;
	border-bottom: 1px solid #dadada;
	text-indent: 8px;
}

.citylist .citys {
	line-height: 28px;
	text-indent: 8px;
	margin-bottom: 12px;
}

.citylist .citys a {
	color: #93bf50;
}

.citylist p i {
	color: #dadada;
	font-style: normal;
}

#header .header-nav .header-navr {
	width: 680px;
	height: 33px;
	position: relative;
	float: right;
}

.header-navr .header-navrspan {
	width: 680px;
	height: 33px;
	font-size: 12px;
	color: #969696;
}

.header-navr .wdyx {
	position: relative;
}

.myshopping {
	position: absolute;
	right: -6px;
	top: 32px;
	width: 80px;
	height: 110px;
	border: 1px solid #dadada;
	text-align: center;
	background: #fff;
	display: none;
}

.myshopping li {
	font-size: 12px;
	line-height: 22px;
	color: #969696;
	cursor: pointer;
}

.myshopping li:hover {
	color: #93bf50;
}

.helptop {
	display: inline-block;
	position: relative;
}

.help {
	width: 80px;
	height: 132px;
	position: absolute;
	right: 0px;
	top: 27px;
	border: 1px solid #dadada;
	text-align: center;
	background: #fff;
	font-size: 12px;
	z-index: 10;
	display: none;
}

.help li {
	line-height: 22px;
	color: #969696;
	cursor: pointer;
}

.help li:hover {
	color: #93bf50;
}

.header-navr a {
	display: inline-block;
	color: #969696;
	cursor: pointer;
	font-size: 12px;
}

#sina {
	color: #d61810;
	font-size: 20px;
}

#wechat {
	color: #93bf50;
	font-size: 20px;
}

#header .header-navr a:hover {
	color: #669900;
}

#header .logBox {
	width: 100%;
	height: 104px;
	background: #fff;
}

#header .logo {
	width: 1200px;
	height: 104px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}


/*#header .logo .logo_left img{*/


/*width: 238px;*/


/*height: 104px;*/


/*}*/

#header .logo .logo_left h2 a {
	margin-top: 10px;
	display: block;
	width: 238px;
	height: 93px;
	text-indent: -9999px;
	background: url(../img/logo_ss.jpg) no-repeat;
	float: left;
	background-size: cover;
}

#header .logo .logo_center {
	float: left;
}

#header .logo .logo_center img {
	margin-left: 32px;
	margin-top: 15px;
	float: left;
}

#header .logo .logo_center .search_list {
	float: left;
	margin-left: 33px;
	margin-top: 28px;
}

.logo_center .search_list input {
	float: left;
}

.logo_center .search_list .search {
	width: 429px;
	height: 34px;
	border: 1px solid #669900;
	margin: 0;
}

.logo_center .search_list .btn {
	margin: 0;
	width: 80px;
	height: 36px;
	background: #669900;
	color: #fff;
	border: none;
}

.logo_center .search_list p a {
	font-size: 12px;
	color: #979797;
	cursor: pointer;
}

.logo_center .search_list p a:hover {
	color: #669900;
}

.logo_right {
	float: left;
}

.logo_right .shopCar {
	display: block;
	width: 194px;
	height: 33px;
	border: 1px solid #efefef;
	border-right: none;
	position: relative;
	margin-top: 28px;
	font-size: 12px;
	color: #666666;
	margin-left: 50px;
	line-height: 33px;
}

.logo_right .shopNum {
	width: 40px;
	height: 33px;
	background: #fa9600;
	color: #fff;
	font-weight: 600;
	line-height: 33px;
	text-align: center;
	font-size: 16px;
	position: absolute;
	right: 0;
}

#shopCar {
	font-size: 18px;
}

#nav {
	width: 100%;
	height: 34px;
}

#nav .navList {
	width: 1200px;
	height: 34px;
	margin: 0 auto;
}

.navList ul li {
	float: left;
	padding: 0 22px;
	line-height: 34px;
}

.navList ul li a {
	color: #333333;
	font-weight: 900;
	font-size: 14px;
}

.navList ul li a:hover {
	color: #669900;
}

.navList ul .listClass {
	width: 156px;
	height: 34px;
	background: #669900;
	font-size: 14px;
	text-align: center;
	font-weight: 900;
}

.navList ul .listClass a {
	color: #fff;
}

.navList ul .listClass a:hover {
	color: #fff;
}

#aside {
	position: fixed;
	bottom: 60px;
	right: 60px;
	z-index: 1000;
}



#aside ul{
	position: relative;

}

#msg{
	position: absolute;
	top: 52px;
	right: 44px;
	z-index: 10000;
	width: 1px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	background: #360;
	font-size: 12px;
	display: none
}

#aside ul li {
	display: block;
	width: 42px;
	height: 42px;
	border: 1px solid #dadada;
	margin-bottom: 6px;
	line-height: 42px;
	text-align: center;
	background: #f7f7f7;
}



#aside ul li a {
	color: #999999;
}

.goTop {
	visibility: hidden;
}

#aside ul li a i {
	font-size: 20px;
}

#aside ul li:hover {
	background: #999999;
}

#aside ul li:hover a {
	color: #fff;
	font-size: 10px;
}

.goTop {
	width: 42px;
	height: 42px;
	border: 1px solid #dadada;
	margin-bottom: 6px;
	line-height: 42px;
	text-align: center;
	color: #999999;
	background: #f7f7f7;
	display: none;
}

#banner {
	width: 100%;
	height: 480px;
	border-top: 2px solid #669900;
}

#banner .bannerClass {
	width: 1200px;
	height: 480px;
	margin: 0 auto;
	position: relative;
}

.bannerClass .bannerClass_left {
	width: 200px;
	height: 480px;
	background: #76ac25;
	position: relative;
	float: left;
}

.bannerClass_left ul li {
	width: 188px;
	height: 60px;
	padding-left: 12px;
	cursor: auto;
}

.bannerClass_left .detailedList {
	width: 520px;
	height: 440px;
	position: absolute;
	background: #fff;
	left: 200px;
	top: 0;
	padding: 20px;
	display: none;
	z-index: 80;
}

.bannerClass_left .detailedList img {
	position: absolute;
	bottom: 0;
}

.bannerClass_left ul .detailedList p {
	font-size: 12px;
	line-height: 24px;
}

.detailedList p span {
	font-weight: 900;
	color: #7dad2d;
	font-size: 14px;
}

.bannerClass_left ul .detailedList p a {
	color: #888785;
	font-size: 12px;
}

.bannerClass_left ul .detailedList p a:hover {
	color: #7dad2d;
}

.detailedList .delete {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #888785;
	border-radius: 50%;
	font-size: 18px;
	position: absolute;
	line-height: 20px;
	text-align: center;
	color: #888785;
	right: 6px;
	top: 6px;
	cursor: pointer;
}

.bannerClass_left ul li:hover {
	background: #fff;
}

.bannerClass_left ul li:hover .detailedList {
	display: block;
}

.bannerClass_left ul li:hover i {
	color: #76ac25;
}

.bannerClass_left ul li:hover h3 a {
	color: #76ac25;
}


/*.bannerClass_left ul li:hover  p a{*/


/*color: #76ac25;*/


/*}*/

.bannerClass_left ul li h3 a {
	font-size: 14px;
	color: #fff;
	font-weight: 100;
}

.bannerClass_left ul li i {
	color: #fff;
	font-size: 12px;
}

.bannerClass_left ul li i:hover {
	text-decoration: none;
}

.bannerClass_left ul li p {
	padding-left: 18px;
}

.bannerClass_left ul li p a {
	font-size: 12px;
	color: #ddeac8
}

.bannerClass_left ul li a:hover {
	text-decoration: underline;
}

.bannerClass_center {
	position: absolute;
	/*z-index: -1;*/
	left: 200px;
	width: 1000px;
	height: 480px;
	overflow: hidden;
}

.bannerClass_center .bannerList {
	width: 10000px;
	height: 480px;
	position: absolute;
	left: -1000px;
}

.bannerClass_center .bannerList li {
	float: left;
	width: 1000px;
	height: 480px;
}

.bannerClass_center .numList {
	position: absolute;
	bottom: 10px;
	left: 260px;
}

.bannerClass_center .numList li {
	float: left;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #767980;
	color: #fff;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	margin: 0 5px;
	cursor: pointer;
}

.bannerClass_center .numList .select {
	background: pink;
}

.bannerClass_right {
	right: 0;
	position: absolute;
}

.bannerClass_right a {
	display: block;
}

#bestGoods {
	width: 100%;
	height: 600px;
}

#bestGoods .bestGoods_class {
	width: 1200px;
	height: 545px;
	margin: 0 auto;
	padding-top: 35px
}

.bestGoods_class .bestGoods_classl {
	width: 945px;
	height: 518px;
	float: left;
}

.bestGoods_classl h2 {
	display: inline-block;
	font-size: 18px;
	font-weight: 100;
	padding: 0 20px 10px 10px;
	color: #333333;
}

.bestGoods_classl ul {
	border: 1px solid #e8e8e8;
	overflow: hidden;
}

.bestGoods_classl ul li {
	width: 235px;
	height: 258px;
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	float: left;
	padding-top: 6px;
	position: relative;
}

.hidegobuy {
	position: absolute;
	bottom: -25px;
	left: 42px;
	display: block;
	width: 160px;
	height: 24px;
	background: #7db030;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	border-radius: 2px;
	display: none;
	cursor: pointer;
}

.u-flyer {
	display: block;
	width: 50px;
	height: 50px;
	position: fixed;
	z-index: 999;
}


.bestGoods_classl ul li p a {
	font-size: 14px;
	color: #333333;
	padding-left: 12px;
}

.bestGoods_classl ul li .redword {
	color: #f33f00;
	font-weight: 900;
	padding-left: 12px;
}

.bestGoods_classl ul li .redword i {
	font-style: normal;
	color: #f33f00;
	font-size: 10px;
	font-weight: 900;
}

.bestGoods_classl ul li img {
	position: absolute;
	bottom: 0;
	right: 0;
}

.bestGoods_classr {
	padding-left: 1px;
	width: 221px;
	height: 517px;
	border: 1px solid #e8e8e8;
	float: right;
	margin-top: 33px;
	/*text-align: center;*/
}

.bestGoods_classrb {
	padding: 10px;
}

.bestGoods_classrb h4 {
	display: inline-block;
	font-size: 14px;
	font-weight: 100;
	padding-bottom: 8px;
}

.bestGoods_classrb span a {
	float: right;
	font-size: 12px;
	color: #666;
}

.bestGoods_classrb span a:hover {
	color: #76ac25;
}

.bestGoods_classrb ul {
	overflow: hidden;
	padding-top: 8px;
	border-top: 1px dotted #666;
}

.bestGoods_classrb ul li a {
	font-size: 12px;
	color: #666;
	height: 26px;
	display: block;
	line-height: 26px;
}

.bestGoods_classrb ul li a:hover {
	color: #76ac25;
	text-decoration: underline;
}

#bestGoods {
	overflow: hidden;
}

#LimitedBuy {
	width: 100%;
	height: 357px;
	background: #fff;
}

.allsale_Class {
	width: 1200px;
	height: 327px;
	margin: 0 auto;
	padding-top: 30px;
}

.allsale_Classl {
	width: 944px;
	height: 357px;
	border: 1px solid #e5e5e5;
	float: left;
}

.allsale_Classl .allsale_ClasslT {
	width: 898px;
	height: 60px;
	background: #ff7031;
	line-height: 60px;
	padding: 0 24px;
	position: relative;
}

.allsale_ClasslT .endtime {
	width: 400px;
	height: 60px;
	position: absolute;
	left: 204px;
	top: 0;
	padding-bottom: 24px;
	font-size: 12px;
	color: #ffe4c6;
}

.endtime span {
	display: inline-block;
	width: 78px;
	height: 40px;
	background: #7f300d;
	color: #fff;
	font-size: 26px;
	font-weight: 900;
	margin-top: 10px;
	text-align: center;
	line-height: 40px;
}

.allsale_ClasslT i {
	color: #fff;
	font-size: 20px;
	display: inline-block;
}

.allsale_ClasslT h3 {
	color: #fff;
	font-size: 20px;
	display: inline-block;
	font-weight: 100;
}

.allsale_ClasslT a {
	color: #fff;
	font-size: 16px;
	float: right;
}

.allsale_Classl .allsale_ClasslB {
	padding-top: 13px;
}

.allsale_ClasslB ul li {
	float: left;
	padding-left: 12px;
}

.allsale_ClasslB ul li img {
	border: 1px solid #eeeeee;
}

.allsale_ClasslB ul li p {
	color: #2d2d2d;
	font-size: 12px;
	line-height: 18px;
}

.allsale_ClasslB ul li i {
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	color: #f33f1f;
}

.allsale_ClasslB ul li a {
	display: block;
	width: 166px;
	height: 28px;
	background: #ff7031;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	color: #fff;
	margin-top: 6px;
}

.allsale_Class .allsale_Classr {
	float: right;
}

#fruit {
	width: 100%;
	height: 640px;
	background: #fff;
}

.fruit_Class {
	width: 1200px;
	height: 160px;
	margin: 0 auto;
}

.fruit_Class .fruit_classt img {
	padding: 30px 0;
}

.fruit_classb {
	width: 1200px;
	height: 480px;
	border-top: 1px solid #76ac25;
}

.fruit_classbL {
	float: left;
}

.fruit_classbL .fruit_title {
	display: block;
	width: 240px;
	height: 50px;
	background: #76ac25;
	text-align: center;
	line-height: 50px;
	color: #fff;
}

.fruit_classbC {
	width: 730px;
	height: 468px;
	float: left;
}

.fruit_classbC ul {
	width: 730px;
	height: 468px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}

.fruit_classbC ul li {
	width: 160px;
	height: 209px;
	position: relative;
}

.fruit_classbC ul li .hidegobuyfruit {
	display: block;
	position: absolute;
	width: 160px;
	height: 24px;
	background: #7db030;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	border-radius: 2px;
	display: none;
	cursor: pointer;
}

.hidegobuyfruit i {
	font-size: 12px;
}

.fruit_classbC ul li p:nth-of-type(1) {
	font-size: 12px;
	line-height: 24px;
}

.fruit_classbC ul li p:nth-of-type(2) {
	font-size: 14px;
	color: #f33f47;
	font-weight: 900;
}

.fruit_classbC ul li p i {
	font-size: 12px;
	color: #f33f47;
	font-style: normal;
	font-weight: 900;
}

.fruit_classbR {
	width: 220px;
	height: 470px;
	float: right;
	position: relative;
}

.fruit_list {
	width: 220px;
	height: 240px;
	background: #f4f4f4;
	padding: 16px;
	box-sizing: border-box;
}

.fruit_list li a {
	display: block;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	float: left;
	background: #fff;
	font-size: 12px;
	color: #333;
	line-height: 56px;
	text-align: center;
	margin: 3px;
}

.fruit_list li a:hover {
	background: #76ac25;
	color: #fff;
}

.fruit_tips {
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 26px;
	color: #dcdcdc;
	position: absolute;
	bottom: 140px;
	left: 28px;
}

.fruit_tips:hover {
	background: #76ac25;
	color: #fff;
}


/*海鲜*/

#seafood {
	width: 100%;
	height: 640px;
	background: #fff;
}

.seafood_Class {
	width: 1200px;
	height: 640px;
	margin: 0 auto;
}

.seafood_Class .seafood_classt img {
	padding: 30px 0;
}

.seafood_classb {
	width: 1200px;
	height: 480px;
	border-top: 1px solid #fa648c;
}

.seafood_classbL {
	float: left;
}

.seafood_classbL .seafood_title {
	display: block;
	width: 240px;
	height: 50px;
	background: #fa648c;
	text-align: center;
	line-height: 50px;
	color: #fff;
}

.seafood_classbC {
	width: 730px;
	height: 468px;
	float: left;
}

.seafood_classbC ul {
	width: 730px;
	height: 468px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}

.seafood_classbC ul li {
	width: 160px;
	height: 209px;
	position: relative;
}

.hidegobuysea {
	display: block;
	position: absolute;
	width: 160px;
	height: 24px;
	background: #7db030;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	border-radius: 2px;
	display: none;
	cursor: pointer;
}

.seafood_classbC ul li p:nth-of-type(1) {
	font-size: 12px;
	line-height: 24px;
}

.seafood_classbC ul li p:nth-of-type(2) {
	font-size: 14px;
	color: #f33f47;
	font-weight: 900;
}

.seafood_classbC ul li p i {
	font-size: 12px;
	color: #f33f47;
	font-style: normal;
	font-weight: 900;
}

.seafood_classbR {
	width: 220px;
	height: 470px;
	float: right;
	position: relative;
}

.seafood_list {
	width: 220px;
	height: 240px;
	background: #f4f4f4;
	padding: 16px;
	box-sizing: border-box;
}

.seafood_list li a {
	display: block;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	float: left;
	background: #fff;
	font-size: 12px;
	color: #333;
	line-height: 56px;
	text-align: center;
	margin: 3px;
}

.seafood_list li a:hover {
	background: #fa648c;
	color: #fff;
}

.seafood_tips {
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 26px;
	color: #dcdcdc;
	position: absolute;
	bottom: 140px;
	left: 28px;
}

.seafood_tips:hover {
	background: #fa648c;
	color: #fff;
}

#news {
	width: 100%;
	height: 230px;
	background: #fff;
}

#news .news_Class {
	width: 1200px;
	height: 180px;
	margin: 0 auto;
	padding-top: 50px;
}

.news_Classl {
	float: left;
}

.news_Classl .news_ClasslT {
	width: 400px;
	padding: 14px 0;
	border-bottom: 1px solid #e8e8e8;
}

.news_Classl .news_ClasslB {
	width: 400px;
	height: 130px;
	margin-top: 20px;
	border-bottom: 1px solid #e8e8e8;
}

.news_ClasslB img {
	float: left;
}

.news_ClasslB ul {
	float: left;
	margin-left: 10px;
}

.news_ClasslB ul li a {
	font-size: 12px;
	color: #646464;
}

.news_ClasslB ul li a i {
	color: #f96302;
	font-size: 14px;
	padding: 0 6px;
}

.news_Classc {
	float: left;
	margin-left: 20px;
}

.news_Classc .news_ClasscT {
	width: 400px;
	padding: 14px 0;
	border-bottom: 1px solid #e8e8e8;
}

.news_Classc .news_ClasscB {
	width: 400px;
	height: 130px;
	margin-top: 20px;
	border-bottom: 1px solid #e8e8e8;
}

.news_ClasscB img {
	width: 50px;
	height: 50px;
}

.news_ClasscB dl {
	width: 420px;
	height: 70px;
}

.news_ClasscB dt {
	float: left;
	margin-right: 20px;
}

.news_ClasscB dd {
	float: left;
}

.news_ClasscB dd a {
	color: #f96302;
	font-size: 12px;
	padding-left: 8px;
}

.news_ClasscB dd p {
	font-size: 12px;
}

.news_Classr {
	float: right;
	width: 319px;
	height: 180px;
	border: 1px solid #e8e8e8;
	padding:19px 18px 0 0;
}




#afterService {
	width: 100%;
	height: 120px;
	background: #f5f5f5;
	margin-top: 40px;
}

#afterService .afterService_Class {
	width: 1200px;
	height: 48px;
	background: #f5f5f5;
	margin: 0 auto;
	padding: 36px 0;
}

.afterService_Class ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.afterService_Class ul li {
	float: left;
}

.afterService_Class ul li i {
	font-size: 40px;
	color: #679902;
	float: left;
}

.afterService_Class ul li h5 {
	padding-left: 54px;
}

.afterService_Class ul li p {
	padding-left: 54px;
}

#footer {
	width: 100%;
	height: 300px;
	background: #fff;
}

#footer .footer_Class {
	width: 1200px;
	height: 300px;
	margin: 0 auto;
}

.footer_ClassT {
	width: 1200px;
	height: 180px;
	border-bottom: 1px solid #e0e0e0;
}

.footer_ClassTl {
	float: left;
	text-align: left;
}

.footer_ClassTl strong {
	display: block;
	margin-top: 10px;
}

.footer_ClassTl p {
	font-size: 12px;
	color: #969696;
}

.footer_ClassTc {
	float: left;
	padding-left: 130px;
	margin-top: 42px;
}

.footer_ClassTc ul li {
	float: left;
	margin-right: 66px;
}

.footer_ClassTc ul li a {
	font-size: 12px;
	color: #646464;
	line-height: 24px;
}

.footer_ClassTc ul li a:hover {
	color: #679902;
}

.footer_ClassTc ul li .firstWord {
	font-size: 14px;
	font-weight: 900;
}

.footer_ClassTc ul li .firstWord:hover {
	color: #646464;
}

.footer_ClassTr {
	float: right;
}

.footer_ClassB {
	margin-top: 20px;
}

.footer_ClassB img {
	margin-right: 8px;
	display: inline-block;
}

.footer_ClassB p {
	font-size: 12px;
}

.footer_ClassBl {
	float: left;
}

.footer_ClassBr {
	float: left;
	padding-left: 6px;
}

.footer_ClassBr p {
	color: #969696;
	line-height: 20px;
}

.footer_ClassBr p a {
	color: #646464;
}

.footer_ClassBr p a:hover {
	color: #679902;
}